:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  margin: 0;
  box-sizing: border-box;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  box-sizing: border-box;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  max-height: 10dvh;
}

.navlist {
  display: flex;
  flex-direction: row;
  justify-content:baseline;
  gap: 3rem;
  /* border: 1px white solid; */
}

a {
  padding: 2em;
  /* border: 1px white solid; */
}

.img-cart {
  height: 2em;
  width: 2em;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

.item-list-container {
  position: relative;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 3rem;
  justify-content: space-between;
  row-gap: 4rem;
  /* grid-template-rows: ; */
}

.card {
  border: 1px solid whitesmoke;
  border-radius: 5%;
}

.card card-img card-body{
  display: flex;
  flex-direction: column;
  max-width: 7rem;
  max-height: fit-content;
  padding: 2rem;
  align-items: center;
}

.card-img img{
  height: 200px;
  width: 180px;
}

.product-detail card-detail card-body-detail{
  display: flex;
  flex-direction: row;
  justify-content: baseline;
  align-items: center;
}

.about-container {
  position: inherit;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 25rem;
  padding-right: 25rem;
  padding-top: 3rem;
  padding-bottom: 3rem;
  gap: 12rem;
}

.img-about {
  height: 150px;
  width: 150px;
}

/*Render del footer*/
/* .foot {
  position:initial;
  bottom: 0;
  background-color: #19242e;
  max-height: 8dvh;
  padding: 0.4rem;
} */

.foot {
  bottom: 0;
  overflow: hidden;
  background-color: #19242e;
  max-height: 6dvh;
  padding: 0.4rem;
  max-width: 100dvw;
  background-color: #19242e;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items:center;
  margin-left: 3dvw;
  margin-right: 3dvw;
}

.link-git {
  max-width: 50px;
  max-height: 50px;
  background-color: #ffffff;
  border-radius: 100%;
}

.logo-git {
  height: 50px;
  width: 50px;
}

/* .p-foot{
  word-wrap: break-word;
} */